body{
    background: rgb(13, 13, 193);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(148, 27, 27, 0.416);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
img {
    border-radius: 50px;
    width: 150px;
    height: 150px;
}
div{
    text-align: center;
    padding: 8px;
}
h1{
    color: black;
}
p{
    color: black;
}